@import url("https://fonts.googleapis.com/css?family=Montserrat:900");
html, body {
  background-color: #0a192f;
}

.container {
  width: 80%;
  margin: 0 auto;
  clear: both;
  font-family: 'IBM Plex Mono', monospace;
}
.nameplate {
  color:white;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
  margin-left: 30%;
  margin-right: 30%;
}
.nameintro {
  color:white;
  text-align: left;
  font-family: 'IBM Plex Mono', monospace;
  margin-left: 30%;
  margin-right: 20%;
}
.name{
  color:white;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
  margin-left: 20%;
  margin-right: 20%;
}
a {
  display: inline;
  color: #333;
  text-decoration: none;
}

nav {
  height: 80px;
  line-height: 80px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
  transition: all 0.5s;
}
nav.scrollUp {
  transform: translateY(-80px);
}
nav ul.navbar-menu {
  margin: 0;
  padding: 0;
  float: right;
}
nav ul.navbar-menu li {
  display: inline-block;
  margin: 0 10px;
}
nav ul.navbar-menu li a {
  color: white;
  font-size: 14px;
  font-weight: 600;
}
nav a#brand {
  float: left;
  color: white;
  font-weight: 800;
  font-size: 20px;
}
nav button {
  background: none;
  width: 30px;
  height: 30px;
  margin-top: 20px;
  border: none;
  float: right;
  cursor: pointer;
  display: none;
}
nav button span {
  width: 30px;
  height: 30px;
  height: 2px;
  background: rgb(255, 255, 255);
  display: block;
  margin: 5px 0;
}
.resume:hover{
  background-color:#59c98b;
  border-radius:5px
}
@media (max-width: 768px) {
  nav ul.navbar-menu {
    display: none;
  }

  nav button {
    display: block;
  }
}
  .loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }
